@media (max-width: 1080px) {
  .details-inactive-meters {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .title-inactive-meters {
    margin-bottom: 80px !important;
    display: flex !important;
    justify-content: center;
  }
}
@media (min-width: 1081px) {
  .details-inactive-meters {
    display: grid;

    width: 100%;
    margin-bottom: 30px;
  }
  .title-inactive-meters {
    margin-bottom: 100px !important;
    display: flex !important;
    justify-content: center;
  }
}
