.messages-align {
  display: grid !important;
  align-items: center;
  justify-content: center;
  margin-top: 210px;
}
.message {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
