@media (max-width: 1080px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .home-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .evn_logo {
    width: fit-content;
    height: fit-content;

    margin-top: 200px;
  }
}

@media (min-width: 1081px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
